### General Options

# new pdf files will be stored here
DIR_SCAN = /home/user/Documents/ScanSnap/new

# searchable pdf files will be stored here
DIR_OCR = /home/user/Documents/ScanSnap/ocr

### Scanner Settings (scan2pdf.sh)

# scan options, see scanimage for reference
DEVICE_NAME = fujitsu:ScanSnap iX500:1569833
DEVICE_SOURCE = ADF Duplex
SCAN_OPTIONS = --ald=yes \
    --mode Color \
    --resolution 400 \
    --page-width 210 --page-height 297 \
    -y 297 -x 210 \
    --buffermode Off \
    --swskip 5 \
    --swdeskew=no

# set anything but true if you do not want to enter a filename for each scanned file
DEMAND_FILENAME = true

### OCR Settings (txt2pdf.sh)

# Use up to N CPU cores simultaneously
OCR_JOBS = 3
